<div class="main-profile-page">
  <div class="profile-page-header">
    <div class="profile-page-head" id="profilePageHead">
      <div class="profile-image-container">
        <label style="display: none;"></label>
        <input type="text" id="namebox" style="display: none" />
        <label for="imgbtn" class="imgbtn">
          <div class="image-container">
            <img id="myimg" class="uploaded-image" src="static/Image/profileImg.png" />
          </div>
        </label>
        <input type="file" id="imgbtn" style="display: none" />
        <br>
        <label id="upprogress" style="display: none;"></label>
      </div>
      <div class="name-div">
        <label></label>
        <span id="name"></span>
      </div>
      <div class="profile-page-container">
        <div class="profileInputs">
          <div class="labels-spans">
            <div class="div-label-span-content">
              <label>Gender </label>
              <span id="gender"></span>
            </div>
            <div class="div-label-span-content">
              <label>Age </label>
              <span id="age"></span>
            </div>
            <div class="div-label-span-content">
              <label>Height </label>
              <span id="height"></span>
            </div>
            <div class="div-label-span-content">
              <label>Disease </label>
              <span id="disease"></span>
            </div>
          </div>
        </div>
        <div class="profileBtn">
          <div class="divEdit">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen"
              viewBox="0 0 16 16">
              <path
                d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z" />
            </svg>
            <a class="completeProfile" href="/patientDetails">EDIT</a>
          </div>
          <div class="class-signout">
            <svg class="signoutSVG" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
              class="bi bi-box-arrow-right" viewBox="0 0 16 16">
              <path fill-rule="evenodd"
                d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z" />
              <path fill-rule="evenodd"
                d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z" />
            </svg>
            <button id="signoutButton" class="signoutButton" onclick="signout()">SIGN OUT</button>
          </div>
        </div>
      </div>
    </div>

    <div class="secondary-profile-displaying-container" id="secondaryProfileContainer">
      <h1>Personal Details</h1>
      <!-- <p class="profileHeadingUnderLine"></p> -->
      <div class="div-pd-field">
        <div class="personalDetails">
          <label>First Name </label>
          <span id="Fname"></span>
        </div>
        <div class="personalDetails">
          <label>Middle Name </label>
          <span id="Mname"></span>
        </div>
        <div class="personalDetails">
          <label>Last Name </label>
          <span id="Lname"></span>
        </div>
      </div>
      <div class="div-pd-field">
        <div class="personalDetails">
          <label>Date of Birth </label>
          <span id="DOB"></span>
        </div>
        <div class="personalDetails">
          <label>Mobile </label>
          <span id="mobile"></span>
        </div>
        <div class="personalDetails" id="profileEmailSpan">
          <label>Email</label>
          <span id="email"></span>
        </div>
      </div>
      <div class="div-pd-field" id="addressShowProfile">
        <div class="personalDetails">
          <label>City </label>
          <span id="city"></span>
        </div>
        <div class="personalDetails">
          <label>District </label>
          <span id="dist"></span>
        </div>
        <div class="personalDetails">
          <label>Pin Code </label>
          <span id="pin"></span>
        </div>
        <div class="personalDetails">
          <label>Country </label>
          <span id="country"></span>
        </div>
      </div>
    </div>
  </div>

</div>
<script src="../static/js/profileDefaultValus.js"></script>
<script src="../static/js/profileImg.js"></script>
<script type="module" src="../static/js/profileImgToFirebase.js"></script>