<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Signup</title>
    <!-- Cool Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Bowlby+One+SC&display=swap" rel="stylesheet" />
    <!-- Our stylesheet -->
    <link rel="stylesheet" href="../static/css/header.css" />
    <link rel="stylesheet" href="../static/css/signup.css" />
    {% include 'drawer_js.html' %}
    {% include 'drawer_js.html' %}
    {% include 'signup_js.html' %}
</head>

<body>
    {% include 'header.html' %}
    <main>
        <div id="content_container">
            <div id="form_container">
                <div class="container" id="form_content_container">
                    <div id="form_header_container">
                        <h1 id="form_header">SIGN UP</h1>
                    </div>
                    <div class="form_content_inner_container" id="form_content_inner_container">
                        <div class="inp" id="nameField">
                            <svg id="svgName" class="svg" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                                <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" />
                            </svg>
                            <input class="input" type="text" id="name" <input type="text" id="name"
                                placeholder="Name" /><br />
                        </div>

                        <div class="inp" id="mobileField">
                            <svg id="svgMb" class="svg" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                fill="currentColor" class="bi bi-telephone-fill" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z" />
                            </svg>
                            <input type="number" id="mobile" placeholder="Mobile No." /><br />
                        </div>

                        <div class="inp">
                            <svg class="svg" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                fill="currentColor" class="bi bi-envelope-at-fill" viewBox="0 0 16 16">
                                <path
                                    d="M2 2A2 2 0 0 0 .05 3.555L8 8.414l7.95-4.859A2 2 0 0 0 14 2H2Zm-2 9.8V4.698l5.803 3.546L0 11.801Zm6.761-2.97-6.57 4.026A2 2 0 0 0 2 14h6.256A4.493 4.493 0 0 1 8 12.5a4.49 4.49 0 0 1 1.606-3.446l-.367-.225L8 9.586l-1.239-.757ZM16 9.671V4.697l-5.803 3.546.338.208A4.482 4.482 0 0 1 12.5 8c1.414 0 2.675.652 3.5 1.671Z" />
                                <path
                                    d="M15.834 12.244c0 1.168-.577 2.025-1.587 2.025-.503 0-1.002-.228-1.12-.648h-.043c-.118.416-.543.643-1.015.643-.77 0-1.259-.542-1.259-1.434v-.529c0-.844.481-1.4 1.26-1.4.585 0 .87.333.953.63h.03v-.568h.905v2.19c0 .272.18.42.411.42.315 0 .639-.415.639-1.39v-.118c0-1.277-.95-2.326-2.484-2.326h-.04c-1.582 0-2.64 1.067-2.64 2.724v.157c0 1.867 1.237 2.654 2.57 2.654h.045c.507 0 .935-.07 1.18-.18v.731c-.219.1-.643.175-1.237.175h-.044C10.438 16 9 14.82 9 12.646v-.214C9 10.36 10.421 9 12.485 9h.035c2.12 0 3.314 1.43 3.314 3.034v.21Zm-4.04.21v.227c0 .586.227.8.581.8.31 0 .564-.17.564-.743v-.367c0-.516-.275-.708-.572-.708-.346 0-.573.245-.573.791Z" />
                            </svg>
                            <input type="email" id="email" placeholder="Email" autocomplete="on" /><br />
                        </div>

                        <div class="inp">
                            <svg class="svg" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                fill="currentColor" class="bi bi-lock-fill" viewBox="0 0 16 16">
                                <path
                                    d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2z" />
                            </svg>
                            <input type="password" id="password" placeholder="Password" autocomplete="on" />
                            <svg id="eye-closed" class="svg" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                fill="currentColor" class="bi bi-eye-slash-fill" viewBox="0 0 16 16">
                                <path
                                    d="m10.79 12.912-1.614-1.615a3.5 3.5 0 0 1-4.474-4.474l-2.06-2.06C.938 6.278 0 8 0 8s3 5.5 8 5.5a7.029 7.029 0 0 0 2.79-.588zM5.21 3.088A7.028 7.028 0 0 1 8 2.5c5 0 8 5.5 8 5.5s-.939 1.721-2.641 3.238l-2.062-2.062a3.5 3.5 0 0 0-4.474-4.474L5.21 3.089z" />
                                <path
                                    d="M5.525 7.646a2.5 2.5 0 0 0 2.829 2.829l-2.83-2.829zm4.95.708-2.829-2.83a2.5 2.5 0 0 1 2.829 2.829zm3.171 6-12-12 .708-.708 12 12-.708.708z" />
                            </svg>
                            <svg id="eye" class="svg" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                                <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z" />
                                <path
                                    d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z" />
                            </svg>
                        </div>
                        <script>
                            document.addEventListener("DOMContentLoaded", function () {
                                let eyeopen = document.getElementById("eye");
                                let eyeclose = document.getElementById("eye-closed");
                                let passwordInput = document.getElementById("password");

                                eyeclose.style.maxWidth = "0";
                                eyeclose.style.paddingRight = "0";
                                eyeopen.style.paddingLeft = "0";
                                eyeclose.style.marginRight = "0";

                                eyeopen.onclick = function () {
                                    eyeclose.style.maxWidth = "50vh";
                                    eyeopen.style.maxWidth = "0";
                                    if (passwordInput.type === "password") {
                                        passwordInput.type = "text";
                                        eyeopen.classList.remove("bi-eye-fill");
                                        eyeopen.classList.add("bi-eye-slash-fill");
                                    }
                                };

                                eyeclose.onclick = function () {
                                    eyeclose.style.maxWidth = "0";
                                    eyeopen.style.maxWidth = "50vh";
                                    passwordInput.type = "password";
                                    eyeopen.classList.remove("bi-eye-slash-fill");
                                    eyeopen.classList.add("bi-eye-fill");
                                };
                            });
                        </script>

                        <div class="button_container" id="button_container">
                            <button id="signupbtn">SIGN UP</button>
                            <button class="signin-btn" id="signinbtn">SIGN IN</button>
                        </div>

                        <div id="custom-alert" class="custom-alert">
                            <div class="custom-alert-content">
                                <span id="custom-alert-message"></span>
                                <button id="custom-alert-close"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script>
            let signinbtn = document.getElementById("signinbtn");
            let signupbtn = document.getElementById("signupbtn");
            let nameField = document.getElementById("nameField");
            let mobileField = document.getElementById("mobileField");
            let form_header = document.getElementById("form_header");
            let name = document.getElementById("name");
            let mobile = document.getElementById("mobile");

            function toggleFields(signInMode) {
                const fields = [nameField, mobileField];

                fields.forEach((field) => {
                    if (signInMode) {
                        field.style.maxHeight = "0";
                        field.style.paddingTop = "0";
                        field.style.paddingBottom = "0";
                        field.style.boxShadow = "none";
                        field.style.display = "none";
                        field.style.transition =
                            "max-height 0.5s ease, padding 0.5s ease, box-shadow 0.5s ease, transform 0.5s ease";
                        field.style.transform = "translateX(-100%)";
                    } else {
                        field.style.maxHeight = "6vh";
                        field.style.paddingTop = "14px";
                        field.style.paddingBottom = "10px";
                        field.style.boxShadow =
                            "rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset";
                        field.style.display = "flex";
                        field.style.transition =
                            "max-height 0.5s ease, padding 0.5s ease, box-shadow 0.5s ease, transform 0.5s ease";
                        field.style.transform = "translateX(0)";
                    }
                });

                form_header.innerText = signInMode ? "SIGN IN" : "SIGN UP";
                signupbtn.classList.toggle("signin-btn", signInMode);
                signinbtn.classList.toggle("signin-btn", !signInMode);
            }

            signinbtn.onclick = function () {
                toggleFields(true);
                login();
            };

            signupbtn.onclick = function () {
                toggleFields(false);
                register();
            };
        </script>
    </main>

    {% include 'footer.html' %}
</body>

</html>